<style type="text/css">
	/*! CSS Used from: Embedded */
	div,span,p,a,button,img,i{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
	a{color:inherit;text-decoration:inherit;}
	button{background:transparent;border:none;color:inherit;cursor:pointer;padding:initial;}
	body ::-moz-selection{background-color:#7dbcff99;}
	body{background-color: #1a1a1b;    font-family: IBMPlexSans, Arial, sans-serif;display: table;
	  width: 1920px; height: 1080px;}
	/*! CSS Used from: Embedded */
	.kCxZdn{display:-webkit-inline-box;flex-direction:row;-webkit-box-align:center;align-items:center;}
	.ibyVda{border-radius:2px;cursor:pointer;color:rgb(129, 131, 132);}
	.ibyVda:hover,.ibyVda:focus{background-color:rgba(215, 218, 220, 0.1);outline:none;}
	.ibyVda:hover{color:rgb(90, 117, 204);}
	.ibyVda:active{color:rgb(141, 168, 255);}
	.htPWFS{border-radius:2px;cursor:pointer;color:rgb(255, 69, 0)!important;}
	.htPWFS:hover,.htPWFS:focus{background-color:rgba(215, 218, 220, 0.1);outline:none;}
	.htPWFS:active{color:rgb(255, 106, 50);}
	/* .kyAkRX{
	  -webkit-box-align:center;
	  align-items:center;
	  display:grid;
	  fill:inherit;
	  flex-direction:column;} */
	.kyAkRX .voteButton:focus{border-radius:2px;background-color:rgba(215, 218, 220, 0.1);outline:none;}
	.lkEbBw{padding:0.25em 0px;}
	.lkEbBw:first-child{padding-top:0px;}
	.lkEbBw:last-child{padding-bottom:0px;}
	.ghoXVo{font-family:"Noto Sans", Arial, sans-serif;font-size:14px;font-weight:400;line-height:normal;color:rgb(215, 218, 220);word-break:break-word;overflow:auto;padding-bottom:1px;margin-bottom:-1px;}
	.imyGpC{clip:rect(1px, 1px, 1px, 1px);position:absolute!important;}
	.hQYgxM{font-size:xx-large;font-weight:400;line-height:16px;color:rgb(129, 131, 132);}
	/*! CSS Used from: Embedded */
	.icon:before{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;font-family:redesignFont;}
	.icon-addGildDashed:before{content:"\F103";}
	.icon-comment:before{content:"\F10C";}
	.icon-downvote:before{content:"\F110";}
	.icon-upvote:before{content:"\F13B";}
	.icon-upvote{color: rgb(129, 131, 132);}
	/*! CSS Used from: Embedded */
	._2mHuuvyV9doV3zwbZPtIPG{display:inline-block;-ms-flex:0 0 auto;flex:0 0 auto;}
	._2GCoZTwJW7199HSwNZwlHk{position:relative;}
	.jR747Vd1NbfaLusf5bHre{display:inline-block;overflow:hidden;line-height:normal;font-size:48px;}
	.ZyxIIl4FP5gHGrJDzNpUC{position:relative;}
	._39UOLMgvssWenwbRxz_iEn{position:relative;}
	._3wVayy5JvIMI67DheMYra2{display:inline-block;overflow:hidden;line-height:normal;font-size:48px;}
	._2Jxk822qXs4DaXwsN7yyHA{position:relative;}
	.voteButton{height:48px;width:48px;}
	/*! CSS Used from: Embedded */
	/* ._3ch9jJ0painNf41PmU4F9i{color: rgb(215, 218, 220);} */
	._2LeW9tc_6Fs1n7Ou8uD-70{display:-ms-inline-flexbox;display:inline-flex;-ms-flex-align:center;align-items:center;position:relative;-ms-flex-wrap:wrap;flex-wrap:wrap;}
	._2LeW9tc_6Fs1n7Ou8uD-70._3sYCnvIxJkhkOfLVTWR67K{padding-right:22px;}
	._3u6g9UTYlEOr-yfM5hyq3p{margin-left:4px;margin-right:2px;cursor:default;vertical-align:middle;max-height:16px;max-width:16px;}
	._2y3bja4n4-unxyUrMEFH8C{font-size:12px;font-weight:400;line-height:16px;display:inline-block;color:#818384;}
	._3cvmhvAbUM05VkxFte0UZ{cursor:pointer;white-space:nowrap;}
	._3cvmhvAbUM05VkxFte0UZ ._3u6g9UTYlEOr-yfM5hyq3p{cursor:inherit;}
	._3mcXKZUh7FvUMLSv0AHyXs{visibility:hidden;opacity:1;font-size:16px;position:absolute;right:0;padding:2px;border-radius:4px;outline:none;color:#818384;}
	._3mcXKZUh7FvUMLSv0AHyXs:focus,._3mcXKZUh7FvUMLSv0AHyXs:hover{outline:none;background-color:rgba(26,26,27,.1);}
	._3mcXKZUh7FvUMLSv0AHyXs ._2J9jlNokb9X4gvrrZR3BX2{display:block;height:16px;width:16px;font-size:16px;}
	._2LeW9tc_6Fs1n7Ou8uD-70:hover ._3mcXKZUh7FvUMLSv0AHyXs{visibility:visible;opacity:1;}
	._23wugcdiaj44hdfugIAlnX{font-size:xx-large;/*font-weight:400;line-height:16px;*/color:#4FBCFF;}
	._23wugcdiaj44hdfugIAlnX:hover{text-decoration:underline;}
	/*! CSS Used from: Embedded */
	._1g4YvNNIFoV_5_EhsVfyRy{display:block;margin:0 auto;display:inline-block;margin:0 0.5em 0 -1px;vertical-align:middle;}
	/* ._1g4YvNNIFoV_5_EhsVfyRy{fill:currentColor;height:16px;width:16px;height:12px;width:12px;} */
	._1LXnp2ufrzN6ioaTLTjGQ1{font-size:xx-large;font-weight:700;color:#818384;margin:4px 0 8px;}
	._374Hkkigy4E4srsI2WktEd{display:inline-block;margin-right:1em;}
	._374Hkkigy4E4srsI2WktEd:first-letter{text-transform:uppercase;}
	._374Hkkigy4E4srsI2WktEd:disabled{cursor:default;}
	._374Hkkigy4E4srsI2WktEd:hover{text-decoration:underline;}
	._16AAktgl_rVbXAeiWU9CQd{margin-left:5px;}
	._1sA-1jNHouHDpgCp1fCQ_F{font-size:xx-large;font-weight:400;line-height:16px;color:#818384;-ms-flex:0 0 auto;flex:0 0 auto;padding-left:0.5em;}
	._1sA-1jNHouHDpgCp1fCQ_F:hover{text-decoration:underline;}
	._3ezOJqKdLbgkHsXcfvS5SA{-ms-flex-align:center;align-items:center;display:-ms-flexbox;display:-webkit-inline-box;line-height:initial;}
	._3_GZIIN1xcMEC5AVuv4kfa{-ms-flex:0 0 auto;flex:0 0 auto;padding-left:0.5em;}
	._3cjCphgls6DH-irkVaA0GM{padding:1em 0;width:93%;}
	.kB7GZ7EzNg1Msq-nEnY0z{margin:3px -1px -2px 9px;max-height:40px;min-width:24px;text-align:center;z-index:3;width: 48px;}
	._22nWXKAY6OzAfK5GcUqWV2{padding:2px;}
	._3tw__eCCe7j-epNCKGXUKk{
	  border-radius:4px;
	  border:1px solid transparent;
	  box-sizing:border-box;
	  margin-left: 1em;
	  /* padding-left:4px;
	  padding-right:4px;
	  padding-top:4px; */
	  width:100%;}
	.P8SGAKMtRxNwlmLz1zdJu{
		display:-webkit-inline-box;
		display:-ms-flexbox;
		background:transparent;
		/* padding:0 0 3em 0; */
		position:relative;
		width: 100%;}
	/* .P8SGAKMtRxNwlmLz1zdJu._1z5rdmX8TDr6mqwNv7A70U{margin-top:16px;} */
	.P8SGAKMtRxNwlmLz1zdJu ._1S45SPAIb30fsXtEcKPSdt{margin-left:0;min-height:18px;}
	._36AIN2ppxy_z-XSDxTvYj5{box-sizing:border-box;cursor:pointer;display:inline-block;height:100%;margin-left:3em;padding-left: 32px;vertical-align:top;width:auto;}
	._36AIN2ppxy_z-XSDxTvYj5>.threadline{border-right:3px solid #343536;display:block;height:100%;width:50%;}
	._1DooEIX-1Nj5rweIc5cw_E{bottom:0;left:0;position:absolute;top:0;z-index:2;}
	._3Wv3am0TXfTcugZJ6niui{box-sizing:border-box;display:inline-block;height:100%;vertical-align:top;}
	._3Wv3am0TXfTcugZJ6niui ._36AIN2ppxy_z-XSDxTvYj5{bottom:0;height:calc(100% - 104px);position:absolute;}
	._3sf33-9rVAO_v4y0pIW_CH{box-sizing:border-box;overflow:visible;position:relative;width:100%;}
	._3sf33-9rVAO_v4y0pIW_CH:focus{outline:none;}
	#commentShot{
		/* height: fit-content;
		position: absolute;
		left: 25vh;
		right: 25vh;
		top: 15vh;
		bottom: 0;
		margin: auto; */
		display: table-cell;
	  vertical-align: middle;
	}
	/*! CSS Used fontfaces */
	@font-face{font-family:Noto Sans;font-weight:400;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-d6a6aa8dc0f93416a832ea04a18c6fb8.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Regular-e6bbcdd30d3bd4d6b170bcb6d3552cab.woff) format("woff");}
	@font-face{font-family:Noto Sans;font-weight:400;font-style:italic;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-fca7c15cdda5570c8f739b9d71e9ed6d.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Italic-5267af566ab853eb9d74db1a78a46c67.woff) format("woff");}
	@font-face{font-family:Noto Sans;font-weight:700;font-style:normal;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-d4ba4ecba17e90993f442f7bb082a3a2.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-c34ba754b7235b49d33b294ff7a54179.woff) format("woff");}
	@font-face{font-family:Noto Sans;font-weight:700;font-style:italic;src:url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-be39cd37f002d25d500c67b88871bed4.woff2) format("woff2"),url(https://www.redditstatic.com/desktop2x/fonts/NotoSans/Bold-Italic-255b4934a1f414dd312aa89382d65114.woff) format("woff");}
	@font-face{font-family:redesignFont;src:url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.00b79be005cb29814dad9749685332d5.eot),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.00b79be005cb29814dad9749685332d5.woff),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.00b79be005cb29814dad9749685332d5.ttf),url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.00b79be005cb29814dad9749685332d5.svg);}
	</style>
	
	<div id="commentShot">
		<div style="margin-bottom: 3em;">
			<div id="t1_escp0vq" style="padding: 0 3em;" tabindex="-1" class="_3sf33-9rVAO_v4y0pIW_CH ">
				<div class="_1DooEIX-1Nj5rweIc5cw_E">
					<div class="_3Wv3am0TXfTcugZJ6niui">
						<div class="_36AIN2ppxy_z-XSDxTvYj5 t1_escp0vq">
							<i class="threadline"></i>
						</div>
					</div>
				</div>
				<div class="P8SGAKMtRxNwlmLz1zdJu Comment t1_escp0vq _1z5rdmX8TDr6mqwNv7A70U">
					<div class="kB7GZ7EzNg1Msq-nEnY0z f13rz6-0 kyAkRX">
						<button aria-label="upvote" aria-pressed="false" class="voteButton " data-click-id="upvote">
							<span class="_3wVayy5JvIMI67DheMYra2 _22nWXKAY6OzAfK5GcUqWV2 pj2lbt-0 ceVbaV">
								<i class="icon icon-upvote _2Jxk822qXs4DaXwsN7yyHA _39UOLMgvssWenwbRxz_iEn"></i>
							</span>
						</button>
						<button aria-label="downvote" aria-pressed="false" class="voteButton " data-click-id="downvote">
							<span class="jR747Vd1NbfaLusf5bHre _22nWXKAY6OzAfK5GcUqWV2 m2phji-0 ibyVda">
								<i class="icon icon-downvote ZyxIIl4FP5gHGrJDzNpUC _2GCoZTwJW7199HSwNZwlHk"></i>
							</span>
						</button>
					</div>
					<div class="_3tw__eCCe7j-epNCKGXUKk ">
						<span class="s1dqr9jy-0 imyGpC">level 1</span>
						<div class="_1S45SPAIb30fsXtEcKPSdt  _3ezOJqKdLbgkHsXcfvS5SA ">
							<div class="_2mHuuvyV9doV3zwbZPtIPG">
								<a class="_23wugcdiaj44hdfugIAlnX " href="/user/TheMightyGinger4/"> AUTOR </a>
									<div class="_16AAktgl_rVbXAeiWU9CQd" id="UserInfoTooltip--t1_escp0vq"></div>
							</div>
							<span class="_3_GZIIN1xcMEC5AVuv4kfa n4zus3-0 hQYgxM"> UPS points</span>
							<span class="_3_GZIIN1xcMEC5AVuv4kfa n4zus3-0 hQYgxM"> · </span>
							<a href="/r/AskReddit/comments/c71051/when_is_quantity_better_than_quality/escp0vq/" id="CommentTopMeta--Created--t1_escp0vq" rel="nofollow" target="_blank" class="_1sA-1jNHouHDpgCp1fCQ_F"><span> CREATED ago</span></a>
							<div class="_2LeW9tc_6Fs1n7Ou8uD-70 "></div>
						</div>
						<div data-test-id="comment" class="_3cjCphgls6DH-irkVaA0GM">
							<div class="s1p8ey0o-0 ghoXVo">
	
				  <p style="font-size:xx-large;margin-left: 0.2em; color:white; position:absolute;width: 93%;padding-top: 0.25em;" class="s1wjcqzz-10 lkEbBw"> SENTENCE </p>
				  <p style="font-size:xx-large;margin-left: 0.2em; color:white; opacity:0;" class="s1wjcqzz-10 lkEbBw"> FULL </p>
							</div>
						</div>
						<div class="_1LXnp2ufrzN6ioaTLTjGQ1 s1cu8rnh-0 kCxZdn">
							<button class="_374Hkkigy4E4srsI2WktEd">
								<i class="icon icon-comment _3ch9jJ0painNf41PmU4F9i _1g4YvNNIFoV_5_EhsVfyRy"></i>Reply</button>
							<button class="_374Hkkigy4E4srsI2WktEd">Give Award</button>
							<div id="t1_escp0vq-comment-share-menu">
								<button class="_374Hkkigy4E4srsI2WktEd">share</button>
							</div>
							<button class="_374Hkkigy4E4srsI2WktEd">report</button>
							<button class="_374Hkkigy4E4srsI2WktEd">Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>